<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Транзакції</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
        <link rel="stylesheet" href="~/css/transaction.css" asp-append-version="true">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined">
    
</head>
<body>
    <div class="transaction-container">
        <div class="transaction-widget">
            <div class=""> 

            </div>
        </div>
        <div class="transaction-history">
            <p class="widget-header">Transaction History</p>
            <div class="transaction-list">
                <div class="transaction">
                    <div class="transaction-info">
                        <p class="transaction-name">ATB</p>
                        <div class="info">
                            <p class="transaction-date">Jan 12 |</p>
                            <p class="transaction-category"> | Food</p>
                        </div>
                    </div>
                    <p class="transaction-cost">-₴500</p>
                </div>
                <div class="transaction">
                    <div class="transaction-info">
                        <p class="transaction-name">ATB</p>
                        <div class="info">
                            <p class="transaction-date">Jan 12 |</p>
                            <p class="transaction-category"> | Food</p>
                        </div>
                    </div>
                    <p class="transaction-cost">-₴500</p>
                </div>
                <div class="transaction">
                    <div class="transaction-info">
                        <p class="transaction-name">ATB</p>
                        <div class="info">
                            <p class="transaction-date">Jan 12 |</p>
                            <p class="transaction-category"> | Food</p>
                        </div>
                    </div>
                    <p class="transaction-cost">-₴500</p>
                </div>

            </div>
        </div>
    </div>
</body>
</html>
