body {
}
.container {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
}

.balance-info {
    margin-left: 300px;
    margin-top: 0px;
    display: flex;
    gap: 30px;
}

.widgets {
    display: flex;
    width: 1200px;
    height: 400px;
    margin-left: 300px;
    margin-top: 20px;
    border-radius: 20px;
    gap: 30px;
}
.widget {
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    background: rgba(28, 31, 43, 0.95);
    border-radius: 10px;
    width: 300px;
    height: 200px;
    margin-top: 50px;
}

        .balance-header {
            color: white;
            font-size: 20px;
            margin: 0px;
            margin-left: 10px;
            margin-top: 10px;
            justify-self: start;
        }
        .balance {
            color: white;
            font-size: 36px;
            justify-self: start;
            margin-left: 10px;

        }
        .balance-details {
            display: flex;
            gap: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .cash-balance {
            box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
            background: rgba(28, 31, 43, 0.95);
            border-radius: 10px;
            width: 1250px;
            height: 70px;
            margin: 0px;
        }
            .cash-balance-header {
                color: white;
                justify-self: start;
                margin-left: 5px;
                font-size: 15px;
                margin: 0px 0px 0px 5px;
            }

            .cash {
                color: white;
                justify-self: start;
                margin-left: 5px;
                font-size: 24px;
                margin: 0px 0px 0px 5px;
            }

#monthlyBudget {
    align-self: end;
    height: 150px;
    width: 400px;
}

.top-part {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}
.edit-monthBudget-button {
    background: none;
    height: 40px;
    margin-top: 2px;
    border: none;
    justify-self: end;
    align-self: end;
    margin-left: 10px;
}

    .edit-monthBudget-button span {
        color: white;
    }

.spent-header {
    color: white;
    margin: 0px;
    margin-left: 10px;
}
.spent-value {
    font-size: 20px;
    color: green;
    margin: 0px;
    margin-left: 10px;
}
.left-value {
    color: white;
    margin: 0px;
    justify-self: end;
    margin-right: 5px;
}

.progress-bar-container {
    width: 95%;
    height: 2px;
    background-color: #e0e0e0;
    border-radius: 0px;
    overflow: hidden;
    margin: 5px 5px 5px 5px;
    justify-self: center;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    transition: width 0.5s ease-in-out;
}


.slider-panel {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(28, 31, 43, 0.95);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);
    text-align: center;
}

#forecastWidget {
    width: 400px;
    height: 300px;
    margin: 0;
}

.top-widget-panel {
    display: flex;
}

#btnWeekly {
    background: rgba(19, 22, 44, 1);
    color: white;
    margin-left: 100px;
    margin-top: 5px;
    height: 30px;
}

#btnDaily {
    background: rgba(19, 22, 44, 1);
    color: white;
    margin-top: 5px;
    height: 30px;
}